.git
.gitignore
.env.local
.env.*.local
/node_modules
/build
/dist
/coverage
.DS_Store
Thumbs.db
*.log
.idea
.vscode
composer.lock
package-lock.json
yarn.lock
.gitlab-ci.yml
.github
tests
docs
README.md
CHANGELOG.md
LICENSE
